<div class="flex flex-row gap-4 px-2">
    <!--- Search -->
    <div class="p-4 w-[400px]">
        <h2 class="heading text-2xl font-bold mb-4">Product Filter</h2>
        <form (ngSubmit)="PostProductFilter()" class="w-[100%]" action="#" method="POST">
            <div class="form-group mb-4">
                <label for="name" class="block text-gray-700">Search</label>
                <input
                    type="text"
                    class="form-control mt-1 block w-full"
                    id="name"
                    name="name"
                    [(ngModel)]="formFilter.name" />
            </div>

            <!--- Catergory -->

            <div>
                <div class="form-group mb-4">
                    <label for="category" class="block text-gray-700">Category</label>
                    <select class="form-control mt-1 block w-full" id="category" name="category" required>
                        <option value="" disabled>Select Category</option>
                        <option value="Runner">Runner</option>
                        <option value="fashion">Fashion</option>
                    </select>
                </div>
            </div>

            <!--- Filter By Price -->

            <div class="grid grid-cols-2 gap-1 w-[100%]">
                <div class="form-group mb-4">
                    <label for="price" class="text-gray-700">Min</label>
                    <input
                        type="number"
                        class="form-control mt-1 block w-full"
                        id="price"
                        name="price"
                        [(ngModel)]="formFilter.priceMin" />
                </div>

                <div class="form-group mb-4">
                    <label for="price" class="text-gray-700">Max</label>
                    <input
                        type="number"
                        class="form-control mt-1 block w-full"
                        id="price"
                        name="price"
                        [(ngModel)]="formFilter.priceMax" />
                </div>
            </div>

            <!--- Filter By Rating -->
            <div>
                <div class="form-group mb-4">
                    <label for="category" class="block text-gray-700">Rating</label>
                    <select
                        class="form-control mt-1 block w-full"
                        id="category"
                        name="category"
                        value="0"
                        [(ngModel)]="formFilter.stars">
                        <option value="" disabled>Select Rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-1 w-[100%]">
                <button type="submit" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded">Submit</button>

                <form (ngSubmit)="fethchCatalogo()" class="w-[100%]" action="#" method="GET">
                    <button type="submit" class="btn btn-primary bg-blue-500 text-white py-2 px-4 rounded">
                        Reset
                    </button>
                </form>
            </div>
        </form>
    </div>

    <!--- Reset -->

    <app-product [products]="products" />
</div>
